*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms{
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: black;
}